extends layout

block content
        
  header
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation 
            span.icon-bar
            span.icon-bar   
            span.icon-bar
          a.navbar-brand(href='/') MiniTwr
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='http://9gag.com/')
                | link 
                span.sr-only (current) 
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Mon compte
            li
              a(href='#') Deconnection

      

  .menu
    h2.mt Menu
      br
    ul
      li
        a(href='/contacts') Contacts
      li
        a(href='/messages') Chat
      li
        a(href='/') Notifications
  | 
  form(action='/', method='POST')      
    .input-group.col-lg-6.noflo
      input.form-control(name="tweet", type='text', placeholder="What's up")
      |       
      span.input-group-btn
        button.btn.btn-default(type='submit') Tweet
  ul
    - each tweet in tweets
      .fil= tweet

      
  .fil
    p

