doctype html
html
  head
   title MiniTwr
   meta(charset='utf-8')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(rel='shortcut icon', href='images/icon.ico')
   link(rel='icon', href='images/icon.ico')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
   
  body
    block content
