extends layout

block content
       
  header
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation 
            span.icon-bar;    
            span.icon-bar   
            span.icon-bar
          a.navbar-brand(href='/') MiniTwr
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='http://9gag.com/')
                | link 
                span.sr-only (current) 
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Mon compte
            li
              a(href='#') Deconnection

        

  .menu
    h2.mt Menu
      br
    ul
      li
        a(href='/contacts') Contacts
      li
        a(href='/messages') Chat
      li
        a(href='/') Notifications
  | 
  form#formulaire_chat(action='/messages', method='post')      
    .input-group.col-lg-6.noflo
      input.form-control#message(name="message", type='text', placeholder="What's up")
      |       
      span.input-group-btn
        button.btn.btn-default#envoi_message(type='submit') Envoyer
  .fil
    section#zone_chat
  
  script(src='http://code.jquery.com/jquery-1.10.1.min.js')
  script(src='/socket.io/socket.io.js')

  script.
    // Connexion à socket.io
    var socket = io.connect('http://localhost:2015');
        // On demande le pseudo, on l'envoie au serveur et on l'affiche dans le titre
    var date;
    var currentdate=new Date();
    var pseudo = prompt('Quel est votre pseudo ?');
    socket.emit('nouveau_client', pseudo);
    
    document.title = pseudo + ' - ' + document.title;
    // Quand on reçoit un message, on l'insère dans la page
    socket.on('message', function(data) {
    insereMessage(data.pseudo, data.message)
    })
    // Quand un nouveau client se connecte, on affiche l'information
    socket.on('nouveau_client', function(pseudo) {
    $('#zone_chat').prepend('<p><em>' + pseudo + ' a rejoint le Chat !</em></p>');
    })
    // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
    $('#formulaire_chat').submit(function () {
    var message = $('#message').val();
    socket.emit('message', message); // Transmet le message aux autres
    insereMessage(pseudo, message); // Affiche le message aussi sur notre page
    $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
    return false; // Permet de bloquer l'envoi "classique" du formulaire
    });
    // Ajoute un message dans la page
    function insereMessage(pseudo, message) {
    date=currentdate.getDate()+ "/" + (currentdate.getMonth()+1) +" à " + currentdate.getHours() + ":" + currentdate.getMinutes();
    $('#zone_chat').prepend('<p>'+'<span class="date">'+date+'</span>'+'   <strong>' + pseudo + ':</strong> ' + message + '</p>');
    }

    
